Repository Rishabh5321/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Containers, Modules, Hosts, Packages, Systems, repo, GitHub-Action, GitHub

.github/labeler.yml:

Containers:
  - changed-files:
      - any-glob-to-any-file: containers/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/*
Hosts:
  - changed-files:
      - any-glob-to-any-file: nixos/*
Packages:
  - changed-files:
      - any-glob-to-any-file: modules/*
Systems:
  - changed-files:
      - any-glob-to-any-file: nixos/*
repo:
  - changed-files:
      - any-glob-to-any-file: "*"
GitHub-Action:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/*

chore(wayland): update xdg-desktop-portal configuration for Hyprland
  modules/desktop/Hyprland/main/wayland.nix
  modules/system/cache.nix
Labels: none

chore: auto lint and format
  hosts/dell/intel-drivers.nix
  modules/desktop/Hyprland/home/hyprland.nix
Labels: none

chore: auto lint and format (#1790)
  hosts/dell/intel-drivers.nix
  modules/desktop/Hyprland/home/hyprland.nix
Labels: none

feat(hyprpanel): update widget configuration and clock format
  modules/desktop/Hyprland/home/hyprpanel.nix
Labels: none

refactor(hyprpanel): restructure layout settings and add network truncation size
  modules/desktop/Hyprland/home/hyprpanel.nix
Labels: none

feat(hyprpolkitagent): add support for hyprpolkitagent and update related configurations
  flake.lock
  flake.nix
  modules/desktop/Hyprland/home/default.nix
  modules/desktop/Hyprland/home/hyprland.nix
Labels: repo

chore(hyprland): update hypridle settings and modify display manager configuration
  modules/desktop/Hyprland/home/hypridle.nix
  modules/desktop/Hyprland/home/hyprland.nix
  modules/desktop/Hyprland/main/hyprland.nix
Labels: none

chore: auto lint and format
  modules/desktop/Hyprland/main/hyprland.nix
Labels: none

chore: auto lint and format (#1803)
  modules/desktop/Hyprland/main/hyprland.nix
Labels: none

chore(flake): change backup file extension from "backup" to "bak"
  flake.nix
Labels: repo

chore(hyprland): comment out hyprlock configuration
  modules/desktop/Hyprland/main/hyprland.nix
Labels: none

chore: auto lint and format
  flake.nix
Labels: repo

chore: auto lint and format (#1805)
  flake.nix
Labels: repo

chore: update permissions for cleanup workflow to allow write access
  .github/workflows/cleanup_actions.yml
Labels: GitHub-Action

chore: add write permissions for actions in cleanup workflow
  .github/workflows/cleanup_actions.yml
Labels: GitHub-Action

chore: enhance GitHub Actions workflow with linting, specific host builds, and build summary generation
  .github/workflows/build.yml
Labels: GitHub-Action

fix: removing lint for testing the workflow for caching currently
  .github/workflows/build.yml
Labels: GitHub-Action

chore: remove commented-out caching step from GitHub Actions workflow
  .github/workflows/build.yml
Labels: GitHub-Action

chore: add trusted interfaces to firewall configuration for redmi host
  hosts/redmi/configuration.nix
  modules/desktop/Hyprland/home/default.nix
Labels: none

chore: simplify caching key in GitHub Actions workflow
  .github/workflows/build.yml
Labels: GitHub-Action

chore: add restore-keys for improved caching in GitHub Actions workflow
  .github/workflows/build.yml
Labels: GitHub-Action

chore: fix permissions for caching in GitHub Actions workflow
  .github/workflows/build.yml
Labels: GitHub-Action

chore: remove caching steps from GitHub Actions workflow
  .github/workflows/build.yml
Labels: GitHub-Action

chore: remove FlakeHub publishing workflow from GitHub Actions
  .github/workflows/flakehub.yml
Labels: GitHub-Action

chore: enhance build summary workflow with detailed reporting and artifact handling
  .github/workflows/build.yml
Labels: GitHub-Action

chore: remove summary generation from build workflow
  .github/workflows/build.yml
Labels: GitHub-Action

chore: improve build workflow by extracting duration from output log
  .github/workflows/build.yml
Labels: GitHub-Action

chore: refactor build summary generation to use a temporary file and add artifact upload
  .github/workflows/build.yml
Labels: GitHub-Action

chore: add error handling to build summary generation script
  .github/workflows/build.yml
Labels: GitHub-Action

chore: streamline build summary generation by consolidating echo commands
  .github/workflows/build.yml
Labels: GitHub-Action

chore: remove build summary generation steps from workflow
  .github/workflows/build.yml
Labels: GitHub-Action

chore: add flake check job to GitHub Actions workflow with Telegram notifications
  .github/workflows/build.yml
  .github/workflows/flake_check.yml
Labels: GitHub-Action

chore: remove flake check workflow from GitHub Actions
  .github/workflows/flake_check.yml
Labels: GitHub-Action

chore: enhance GitHub Actions workflow with improved error handling and logging for builds and tests
  .github/workflows/build.yml
Labels: GitHub-Action

Revert Changes for workflow will look after it tomorrow.
  .github/workflows/build.yml
Labels: GitHub-Action

chore(workflows/build): update Nix configuration with new paths and settings
  .github/workflows/build.yml
Labels: GitHub-Action

chore(workflows/build): enhance build workflow with additional steps for repository checkout and disk space management
  .github/workflows/build.yml
Labels: GitHub-Action

chore(workflows/build): refine Telegram notification logic and improve failure handling in build workflow
  .github/workflows/build.yml
Labels: GitHub-Action

chore(workflows/build): remove Telegram notification steps from build workflow
  .github/workflows/build.yml
Labels: GitHub-Action

chore(workflows/build): reintroduce Telegram notification steps and refine build status reporting
  .github/workflows/build.yml
Labels: GitHub-Action
