Repository Rishabh5321/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Containers, Modules, Hosts, Packages, Systems, repo, GitHub-Action, GitHub

.github/labeler.yml:

Containers:
  - changed-files:
      - any-glob-to-any-file: containers/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/*
Hosts:
  - changed-files:
      - any-glob-to-any-file: nixos/*
Packages:
  - changed-files:
      - any-glob-to-any-file: modules/*
Systems:
  - changed-files:
      - any-glob-to-any-file: nixos/*
repo:
  - changed-files:
      - any-glob-to-any-file: "*"
GitHub-Action:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/*

chore(workflows): update Nix installation to use DeterminateSystems/nix-installer-action with Cachix support
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): add Cachix installation step in build-pkgs workflow
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): replace disk space cleanup script with disk space reclaimer action
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): update Cachix configuration in build-pkgs workflow
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): optimize Nix installer configuration with download buffer size
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): modify nix build command to include --no-link option
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): enhance Cachix integration and optimize package builds
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): streamline Cachix configuration by removing redundant entries
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): enhance build process with improved caching and cleanup steps
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): update Cachix configuration to use environment variables for substituters and trusted keys
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): update Cachix substituters to use new package build URL
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): update trusted public keys in build configuration
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): correct public key format in build configuration
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): refactor build process to support multiple targets and improve logging
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): update build targets in workflow configuration
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(github): add reviewer to Dependabot configuration
  .github/dependabot.yml
Labels: GitHub

chore(workflows): update CI workflow to improve flake checks and build process
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): add workflow_dispatch trigger to build-pkgs.yml
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): update cachix-action conditions to run only on push and workflow_dispatch
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(workflows): update build-pkgs.yml to include new NixOS configurations for Dell and Redmi
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(containers/portainer): add DOCKER_HOST environment variable
  containers/portainer.nix
  flake.nix
Labels: Containers, repo

chore: auto lint and format
  containers/portainer.nix
Labels: Containers

chore: auto lint and format (#1472)
  containers/portainer.nix
Labels: Containers

chore(flake): update lock file with new revisions and hashes
  flake.lock
Labels: repo

chore(nixos/pkgs): update zen-browser package reference to beta version
  modules/nixos/pkgs.nix
Labels: none

chore(flake): update zen-browser package reference from beta to default version
  flake.lock
  modules/nixos/pkgs.nix
Labels: repo

chore(flake): update flake check command to use nom for better error handling
  .github/workflows/flake_check.yml
Labels: GitHub-Action

chore(flake): install nix-output-monitor in flake check workflow
  .github/workflows/flake_check.yml
Labels: GitHub-Action

chore(flake): simplify flake check workflow by removing nix-output-monitor installation
  .github/workflows/flake_check.yml
Labels: GitHub-Action

chore(workflow): update cleanup schedule to run daily at midnight (UTC)
  .github/workflows/cleanup_actions.yml
Labels: GitHub-Action

chore: update workflow configuration for improved efficiency
  .github/workflows/flake_build.yml
Labels: GitHub-Action

chore(workflow): update Cachix push condition and cache name
  .github/workflows/flake_build.yml
Labels: GitHub-Action

chore(nixos): add usbguard module for enhanced USB security
  modules/nixos/default.nix
  modules/nixos/usbguard.nix
Labels: none

chore(nixos): update usbguard module syntax for improved configuration
  modules/nixos/usbguard.nix
Labels: none

chore(nixos): refactor user configuration for improved usbguard integration
  modules/nixos/users.nix
Labels: none

chore: auto lint and format
  modules/nixos/usbguard.nix
  modules/nixos/users.nix
Labels: none

chore: auto lint and format
  modules/nixos/usbguard.nix
  modules/nixos/users.nix
Labels: none

chore: auto lint and format (#1494)
  modules/nixos/usbguard.nix
  modules/nixos/users.nix
Labels: none

feat(usbguard): enhance configuration with controller policy and IPC settings
  modules/nixos/usbguard.nix
Labels: none

chore: auto lint and format
  modules/nixos/usbguard.nix
Labels: none
