Repository Rishabh5321/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Containers, Modules, Hosts, Packages, Systems, repo, GitHub-Action, GitHub

.github/labeler.yml:

Containers:
  - changed-files:
      - any-glob-to-any-file: containers/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/*
Hosts:
  - changed-files:
      - any-glob-to-any-file: nixos/*
Packages:
  - changed-files:
      - any-glob-to-any-file: modules/*
Systems:
  - changed-files:
      - any-glob-to-any-file: nixos/*
repo:
  - changed-files:
      - any-glob-to-any-file: "*"
GitHub-Action:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/*

chore: comment out dns.nix import in default.nix
  modules/system/default.nix
Labels: none

chore: update zen-browser integration and remove obsolete nixpkgs reference
  flake.lock
  flake.nix
  modules/system/pkgs.nix
  modules/user/default.nix
  modules/user/zen.nix
Labels: repo

chore: fix syntax in zen.nix and remove unused systemPackages section
  modules/user/zen.nix
Labels: none

chore: remove dead code
  modules/user/zen.nix
Labels: none

chore: auto lint and format
  flake.nix
  modules/user/zen.nix
Labels: repo

chore: auto lint and format (#1735)
  flake.nix
  modules/user/zen.nix
Labels: repo

fix(zsh): correct initExtra to initContent and adjust initialization sequence
  modules/user/zsh.nix
Labels: none

chore: update permissions in flake_deadnix workflow
  .github/workflows/flake_deadnix.yml
Labels: GitHub-Action

fix(zsh): correct initExtra to initContent and adjust initialization sequence
  modules/user/zsh.nix
Labels: none

chore: add permissions to workflows for content and pull-requests
  .github/workflows/build-iso.yml
  .github/workflows/build.yml
  .github/workflows/cleanup_actions.yml
Labels: GitHub-Action

chore: add permissions for contents and pull-requests in flake-check workflow
  .github/workflows/flake_check.yml
Labels: GitHub-Action

chore: comment out problematic aliases in zsh configuration and clean up default.nix imports
  modules/user/default.nix
  modules/user/zsh.nix
Labels: none

chore: auto lint and format
  modules/user/default.nix
Labels: none

chore: auto lint and format (#1756)
  modules/user/default.nix
Labels: none

chore: add branch name retrieval for pull requests and main branch in build workflow
  .github/workflows/build.yml
Labels: GitHub-Action

fix: correct conditional logic for branch name retrieval in build workflow
  .github/workflows/build.yml
Labels: GitHub-Action

feat(intel-drivers): add session variable for triple buffering
  hosts/dell/intel-drivers.nix
Labels: none

chore: auto lint and format
  hosts/dell/intel-drivers.nix
Labels: none

fix(intel-drivers): clean up session variable declaration for clarity
  hosts/dell/intel-drivers.nix
Labels: none

chore: auto lint and format
  hosts/dell/intel-drivers.nix
Labels: none

chore: auto lint and format (#1762)
  hosts/dell/intel-drivers.nix
Labels: none

chore(flake): remove grayjay input and update nixpkgs references
  README.md
  flake.lock
  flake.nix
  modules/system/pkgs.nix
Labels: repo

chore(flake): reorder and restore better-control and akuse-flake inputs
  flake.nix
Labels: repo

chore(flake): add hyprpanel and update inputs for ags and astal
  flake.lock
  flake.nix
  modules/desktop/Hyprland/home/default.nix
  modules/desktop/Hyprland/home/hyprpanel.nix
Labels: repo

chore(flake): remove hyprpanel configuration and update references in default.nix
  modules/desktop/Hyprland/home/default.nix
  modules/desktop/Hyprland/home/hyprpanel.nix
  modules/desktop/Hyprland/main/hyprland.nix
Labels: none

chore: auto lint and format
  flake.nix
Labels: repo

chore: auto lint and format (#1768)
  flake.nix
Labels: repo

chore(flake): enable hyprpanel by uncommenting its import in default.nix
  modules/desktop/Hyprland/home/default.nix
  modules/desktop/Hyprland/home/hyprpanel.nix
Labels: none

chore(flake): update ags and astal configurations, enable hyprpanel overlay
  flake.lock
  flake.nix
  modules/desktop/Hyprland/home/hyprland.nix
  modules/desktop/Hyprland/home/hyprpanel.nix
  modules/desktop/Hyprland/main/hyprland.nix
Labels: repo

chore(hyprpanel): update layout configuration and enable additional modules
  modules/desktop/Hyprland/home/hyprpanel.nix
Labels: none

chore(hyprpanel): update layout configuration by removing unused sections and adding comments
  modules/desktop/Hyprland/home/hyprpanel.nix
Labels: none

chore: auto lint and format
  flake.nix
  modules/desktop/Hyprland/home/hyprpanel.nix
Labels: repo

chore: auto lint and format (#1769)
  flake.nix
  modules/desktop/Hyprland/home/hyprpanel.nix
Labels: repo

Implement code changes to enhance functionality and improve performance
  flake.nix
  wallpapers/wall7.png
Labels: repo

chore: switch desktop environment from Gnome to Hyprland in configuration and home files
  hosts/redmi/configuration.nix
  hosts/redmi/home.nix
Labels: none

chore: update wallpaper to wall8.png and add new widgets to hyprpanel
  flake.nix
  modules/desktop/Hyprland/home/hyprpanel.nix
Labels: repo

fix(hyprpanel): change bar background to a semi-transparent black
  modules/desktop/Hyprland/home/hyprpanel.nix
Labels: none

fix(intel-drivers): remove unnecessary session variable configuration
  hosts/dell/intel-drivers.nix
Labels: none

chore(flake): add Hyprland and related modules, update inputs and dependencies
  flake.lock
  flake.nix
  modules/desktop/Hyprland/home/default.nix
  modules/desktop/Hyprland/home/hyprland.nix
  modules/desktop/Hyprland/main/wayland.nix
Labels: repo

chore(build): add Hyprland cache to substituters and trusted keys in build configuration
  .github/workflows/build.yml
  modules/system/cache.nix
Labels: GitHub-Action
