Repository Rishabh5321/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Containers, Modules, Hosts, Packages, Systems, repo, GitHub-Action, GitHub

.github/labeler.yml:

Containers:
  - changed-files:
      - any-glob-to-any-file: containers/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/*
Hosts:
  - changed-files:
      - any-glob-to-any-file: nixos/*
Packages:
  - changed-files:
      - any-glob-to-any-file: modules/*
Systems:
  - changed-files:
      - any-glob-to-any-file: nixos/*
repo:
  - changed-files:
      - any-glob-to-any-file: "*"
GitHub-Action:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/*

chore: auto lint and format
  modules/desktop/Hyprland/main/hyprland.nix
Labels: none

chore: auto lint and format (#2024)
  modules/desktop/Hyprland/main/hyprland.nix
Labels: none

feat(server): add configuration for new server host with AMD and Intel drivers, power management, and services
  flake.nix
  hosts/server/amd-drivers.nix
  hosts/server/configuration.nix
  hosts/server/hardware-configuration.nix
  hosts/server/home.nix
  hosts/server/intel-drivers.nix
  hosts/server/power.nix
  hosts/server/serve.nix
  hosts/server/tailscale.nix
Labels: repo

chore(server): update configuration.nix to include additional system modules and comment out the system import
  hosts/server/configuration.nix
Labels: none

Add system packages to server configuration
  hosts/server/configuration.nix
Labels: none

chore: auto lint and format
  hosts/server/configuration.nix
Labels: none

chore: auto lint and format (#2026)
  hosts/server/configuration.nix
Labels: none

Disable Hyprland module in server home configuration
  hosts/server/home.nix
Labels: none

feat: Added Gitlab Sync
  .github/workflows/sync-to-gitlab.yml
Labels: GitHub-Action

Add permissions to GitHub Actions workflow
  .github/workflows/sync-to-gitlab.yml
Labels: GitHub-Action

Add Hyprland configuration files and wallpaper support
  modules/desktop/Hyprland/main/cache.nix
  modules/desktop/Hyprland/main/default.nix
  modules/desktop/Hyprland/main/display-manager.nix
  modules/desktop/Hyprland/main/hyprland.nix
  modules/desktop/Hyprland/main/pkgs.nix
  modules/desktop/Hyprland/main/portal.nix
  wallpapers/wall10.png
Labels: none

Update display-manager.nix to include wallpaper support in configuration
  modules/desktop/Hyprland/main/display-manager.nix
Labels: none

Refactor Hyprland configuration to simplify structure by removing unused parameters
  modules/desktop/Hyprland/main/hyprland.nix
Labels: none

chore: auto lint and format
  modules/desktop/Hyprland/main/cache.nix
  modules/desktop/Hyprland/main/display-manager.nix
  modules/desktop/Hyprland/main/hyprland.nix
  modules/desktop/Hyprland/main/pkgs.nix
  modules/desktop/Hyprland/main/portal.nix
Labels: none

chore: auto lint and format (#2064)
  modules/desktop/Hyprland/main/cache.nix
  modules/desktop/Hyprland/main/display-manager.nix
  modules/desktop/Hyprland/main/hyprland.nix
  modules/desktop/Hyprland/main/pkgs.nix
  modules/desktop/Hyprland/main/portal.nix
Labels: none

Enhance GitHub Actions workflow for GitLab sync
  .github/workflows/sync-to-gitlab.yml
Labels: GitHub-Action

Update Telegram notification settings in GitHub Actions workflow for GitLab sync
  .github/workflows/sync-to-gitlab.yml
Labels: GitHub-Action

Refine GitHub Actions workflow for GitLab sync
  .github/workflows/sync-to-gitlab.yml
Labels: GitHub-Action

Remove Telegram notification steps from GitHub Actions workflow for GitLab sync
  .github/workflows/sync-to-gitlab.yml
Labels: GitHub-Action

Refactor Hyprland configuration for improved readability
  modules/desktop/Hyprland/home/hyprland.nix
Labels: none

Disable System76 scheduler CFS profiles in power config
  hosts/redmi/power.nix
  modules/desktop/Hyprland/home/hyprland.nix
Labels: none

chore: auto lint and format
  modules/desktop/Hyprland/home/hyprland.nix
Labels: none

chore: auto lint and format (#2066)
  modules/desktop/Hyprland/home/hyprland.nix
Labels: none

Refactor XDG portal configuration for Hyprland
  hosts/redmi/configuration.nix
  modules/desktop/Hyprland/main/portal.nix
  modules/desktop/Hyprland/main/wayland.nix
Labels: none

Remove unused `pkgs` argument from configuration file
  hosts/redmi/configuration.nix
Labels: none

Set GRUB default to Windows and remove unused Cachix key
  hosts/redmi/configuration.nix
  modules/system/nix_settings.nix
Labels: none

Add power event handling script and configure udev rules
  hosts/redmi/power.nix
  modules/system/users.nix
Labels: none

Add NVF module and integrate with user configuration
  modules/user/default.nix
  modules/user/nvf.nix
  modules/user/nvim/keymaps.lua
  modules/user/nvim/options.lua
  modules/user/nvim/plugins/alpha.lua
  modules/user/nvim/plugins/auto-session.lua
  modules/user/nvim/plugins/autopairs.lua
  modules/user/nvim/plugins/cmp.lua
  modules/user/nvim/plugins/comment.lua
  modules/user/nvim/plugins/fine-cmdline.lua
  modules/user/nvim/plugins/lsp.lua
  modules/user/nvim/plugins/nvim-tree.lua
  modules/user/nvim/plugins/telescope.lua
  modules/user/nvim/plugins/todo-comments.lua
  modules/user/nvim/plugins/treesitter.lua
Labels: none

Remove nvf module and its configuration
  modules/user/default.nix
  modules/user/nvf.nix
Labels: none

Add grayjay flake and package to system configuration
  flake.lock
  flake.nix
  modules/system/pkgs.nix
Labels: repo

Comment out fail-fast in build workflow
  .github/workflows/build.yml
Labels: GitHub-Action

Disable unused 'set +e' line in build workflow
  .github/workflows/build.yml
Labels: GitHub-Action

``` Enable fail-fast in GitHub Actions build workflow ```
  .github/workflows/build.yml
Labels: GitHub-Action

Fix indentation in build workflow comments
  .github/workflows/build.yml
Labels: GitHub-Action

``` Add testing-pkgs.nix and update related configurations
  hosts/redmi/configuration.nix
  hosts/redmi/testing-pkgs.nix
  modules/system/pkgs.nix
Labels: none

Add NvChad configuration module
  modules/user/default.nix
  modules/user/nvchad.nix
Labels: none

``` Add nvchad4nix flake and update related configurations
  flake.lock
  flake.nix
  modules/user/nvchad.nix
Labels: repo

Remove unused `pkgs` argument from testing-pkgs.nix
  hosts/redmi/testing-pkgs.nix
Labels: none

chore: auto lint and format
  hosts/redmi/testing-pkgs.nix
  modules/user/nvchad.nix
Labels: none

chore: auto lint and format (#2159)
  hosts/redmi/testing-pkgs.nix
  modules/user/nvchad.nix
Labels: none
