Repository Rishabh5321/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Containers, Modules, Hosts, Packages, Systems, repo, GitHub-Action, GitHub

chore(ci): simplify Nix build command by removing the --no-link option for cleaner execution
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): enhance Nix build workflow by optimizing disk space settings and adding memory flags for improved performance
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): update Nix build workflow to include LVM volume creation and optimize store usage for enhanced performance
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): refactor Nix build workflow by renaming steps and configuring environment for improved clarity and functionality
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): increase root reserve memory to 51200 MB for improved Nix build performance
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): remove unnecessary flags from Nix build workflow for cleaner configuration
  .github/workflows/nix-build.yml
Labels: GitHub-Action

Added space for root
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): update Nix build workflow to set temporary directory and adjust mount points for improved build environment
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): add remount step for /nix to utilize expanded disk space in Nix build workflow
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): update Nix build steps for improved disk space management
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): enhance Nix installation step and add verification
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): refactor Nix build steps for improved disk space management
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): streamline Nix build steps and enhance disk space management
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): add store path configuration for Nix installation
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): add export for NIX_IGNORE_SYMLINK_STORE in Nix installation
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): move NIX_IGNORE_SYMLINK_STORE export to build step for better context
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): update Nix build steps to improve disk space management and remove unnecessary environment variable
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): enhance Nix build workflow with improved step descriptions and comments
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): replace maximize-build-space action with direct disk space freeing step
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): update disk space management step in Nix build workflow
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): format trusted-public-keys and substituters for better readability in Nix build configuration
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): update trusted-public-keys format for Nix build configuration
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): reorder trusted-public-keys and substituters for clarity in Nix build configuration
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): clean up Nix installation step and update substituters format for clarity
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): update substituters and trusted-public-keys for Nix build configuration
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): simplify substituters and trusted-public-keys in Nix build configuration
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): update Nix build configuration to include additional substituters and trusted-public-keys
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(workflow): add NixOS build workflows for Dell and Redmi configurations
  .github/workflows/nix-build_dell.yml
  .github/workflows/nix-build_redmi.yml
Labels: GitHub-Action

chore(cache): remove commented out local substituter from Nix configuration
  modules/nixos/cache.nix
Labels: none

chore(workflow): enhance NixOS build workflow for Dell with concurrency and improved logging
  .github/workflows/nix-build_dell.yml
Labels: GitHub-Action

chore(workflow): add pull request trigger and enhance logging for NixOS build (redmi)
  .github/workflows/nix-build_dell.yml
  .github/workflows/nix-build_redmi.yml
Labels: GitHub-Action

chore(workflow): update workflow names for NixOS builds to improve clarity
  .github/workflows/nix-build_dell.yml
  .github/workflows/nix-build_redmi.yml
Labels: GitHub-Action

chore(workflow): add job names for NixOS build workflows for Dell and Redmi
  .github/workflows/nix-build_dell.yml
  .github/workflows/nix-build_redmi.yml
Labels: GitHub-Action

Hyprland changed to stable instead of flake
  flake.lock
  flake.nix
  modules/Desktop/Hyprland/home/default.nix
  modules/Desktop/Hyprland/home/hyprland.nix
  modules/Desktop/Hyprland/main/hyprland.nix
  modules/Desktop/Hyprland/main/wayland.nix
Labels: repo

chore: auto lint and format
  modules/Desktop/Hyprland/main/hyprland.nix
Labels: none

chore: auto lint and format (#1554)
  modules/Desktop/Hyprland/main/hyprland.nix
Labels: none

chore: remove dead code
  modules/Desktop/Hyprland/home/default.nix
  modules/Desktop/Hyprland/home/hyprland.nix
  modules/Desktop/Hyprland/main/wayland.nix
Labels: none

chore: update workflow description in flake_build.yml
  .github/workflows/flake_build.yml
Labels: GitHub-Action

chore(nixos): comment out rishabh5321.cachix.org references in cache.nix and add them to default.nix
  modules/nixos/cache.nix
  modules/nixos/default.nix
Labels: none

chore: auto lint and format
  modules/nixos/cache.nix
  modules/nixos/default.nix
Labels: none

.github/labeler.yml:

Containers:
  - changed-files:
      - any-glob-to-any-file: containers/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/*
Hosts:
  - changed-files:
      - any-glob-to-any-file: nixos/*
Packages:
  - changed-files:
      - any-glob-to-any-file: modules/*
Systems:
  - changed-files:
      - any-glob-to-any-file: nixos/*
repo:
  - changed-files:
      - any-glob-to-any-file: "*"
GitHub-Action:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/*
