Repository Rishabh5321/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Containers, Modules, Hosts, Packages, Systems, repo, GitHub-Action, GitHub

Fix nix path-info JSON parsing for non-array responses
  .github/workflows/build.yml
Labels: GitHub-Action

Fix closure size handling to handle null or empty values
  .github/workflows/build.yml
Labels: GitHub-Action

Enable v4l2loopback kernel module for OBS Virtual Camera
  modules/system/boot.nix
Labels: none

Add config parameter to boot.nix module
  modules/system/boot.nix
Labels: none

Don't need virtual cams for now
  modules/system/boot.nix
Labels: none

Switch from kitty to ghostty as default terminal
  modules/desktop/Hyprland/home/variables.nix
  modules/system/boot.nix
  modules/system/pkgs.nix
  modules/user/default.nix
  modules/user/ghostty.nix
Labels: none

Remove unused imports in ghostty.nix
  modules/user/ghostty.nix
Labels: none

Update Ghostty terminal settings
  modules/user/ghostty.nix
Labels: none

fix(gnome.nix): correct services structure for Gnome configuration
  modules/desktop/Gnome/main/gnome.nix
Labels: none

fix(gnome.nix): correct services structure for Gnome configuration
  modules/desktop/Gnome/main/gnome.nix
Labels: none

Remove Mergify configuration
  .github/mergify.yml
Labels: GitHub

Change wallpaper from wall5.png to wall12.jpg
  flake.nix
  wallpapers/wall12.jpg
Labels: repo

Add Determinate Systems to flake inputs and NixOS modules
  flake.lock
  flake.nix
Labels: repo

Add Determinate Systems cache to Nix configuration
  modules/system/nix_settings.nix
Labels: none

Add DeterminateSystems CI workflow
  .github/workflows/determinate-ci.yml
Labels: GitHub-Action

Simplify CI workflow with direct action definitions
  .github/workflows/determinate-ci.yml
Labels: GitHub-Action

Remove unused determinate-ci.yml workflow
  .github/workflows/determinate-ci.yml
Labels: GitHub-Action

Remove Determinate Systems cache entries
  modules/system/nix_settings.nix
Labels: none

Remove DeterminateSystems/determinate dependency
  flake.lock
  flake.nix
  modules/user/default.nix
Labels: repo

Add tmux configuration module
  modules/user/default.nix
  modules/user/tmux.nix
Labels: none

Add nix-colorizer to flake dependencies
  flake.lock
  flake.nix
Labels: repo

chore: auto lint and format
  modules/user/tmux.nix
Labels: none

chore: auto lint and format (#2501)
  modules/user/tmux.nix
Labels: none

Update kernelPackages to stable instead of latest for fixing swap unmount at poweroff issue
  modules/system/boot.nix
Labels: none

Update kernelPackages to stable instead of latest for fixing swap (#2504)
  modules/system/boot.nix
Labels: none

Remove existing wallpapers before adding subtree
  wallpapers/wall10.png
  wallpapers/wall11.png
  wallpapers/wall12.jpg
  wallpapers/wall4.jpg
  wallpapers/wall5.png
  wallpapers/wall6.jpg
  wallpapers/wall7.png
  wallpapers/wall9.png
Labels: none

Squashed 'wallpapers/' content from commit 27a5732
  .github/workflows/update-readme.yml
  LICENSE
  README.md
  generate_readme.sh
  wall10.png
  wall11.png
  wall12.jpg
  wall13.jpg
  wall4.jpg
  wall5.png
  wall6.jpg
  wall7.png
  wall9.png
Labels: repo, GitHub-Action

chore(pkgs): remove plex-media-player from system packages
  modules/system/pkgs.nix
Labels: none

chore(pkgs): remove plex-media-player from system packages
  modules/system/pkgs.nix
Labels: none

remove wallpaper assets and related files testing adding new repo
  wallpapers/.github/workflows/update-readme.yml
  wallpapers/LICENSE
  wallpapers/README.md
  wallpapers/generate_readme.sh
  wallpapers/wall10.png
  wallpapers/wall11.png
  wallpapers/wall12.jpg
  wallpapers/wall13.jpg
  wallpapers/wall4.jpg
  wallpapers/wall5.png
  wallpapers/wall6.jpg
  wallpapers/wall7.png
  wallpapers/wall9.png
Labels: none

Squashed 'wallpapers/' content from commit 58bb635
  .github/workflows/update-readme.yml
  LICENSE
  README.md
  generate_readme.sh
  wall10.png
  wall11.png
  wall12.jpg
  wall13.jpg
  wall4.jpg
  wall5.png
  wall6.jpg
  wall7.png
  wall9.png
Labels: repo, GitHub-Action

git commit -m "Remove existing wallpapers before adding subtree"
  wallpapers/.github/workflows/update-readme.yml
  wallpapers/LICENSE
  wallpapers/README.md
  wallpapers/generate_readme.sh
  wallpapers/wall10.png
  wallpapers/wall11.png
  wallpapers/wall12.jpg
  wallpapers/wall13.jpg
  wallpapers/wall4.jpg
  wallpapers/wall5.png
  wallpapers/wall6.jpg
  wallpapers/wall7.png
  wallpapers/wall9.png
Labels: none

Squashed 'wallpapers/' content from commit 112f95a
  .github/dependabot.yml
  .github/workflows/sync-to-gitlab.yml
  .github/workflows/update-readme.yml
  LICENSE
  README.md
  generate_readme.sh
  wall10.png
  wall11.png
  wall12.jpg
  wall13.jpg
  wall14.png
  wall4.jpg
  wall5.png
  wall6.jpg
  wall7.png
  wall9.png
Labels: repo, GitHub-Action, GitHub

Squashed 'wallpapers/' changes from 112f95a..8e6177a
  .github/workflows/update-readme.yml
  README.md
  wall15.png
Labels: repo, GitHub-Action

Squashed 'wallpapers/' changes from 8e6177a..61d70e3
  README.md
  wall16.jpg
Labels: repo

Add wallfetch alias to streamline wallpaper updates
  modules/user/zsh.nix
Labels: none

Squashed 'wallpapers/' changes from 61d70e3..31134bb
  README.md
  generate_readme.sh
Labels: repo

Update nix-switchg and wallfetch aliases for improved wallpaper management
  modules/user/zsh.nix
Labels: none

Squashed 'wallpapers/' changes from 31134bb..3801f25
  README.md
  wall17.jpg
Labels: repo

Squashed 'wallpapers/' changes from 3801f25..397e264
  wallpapers/generate_readme.sh
Labels: none

.github/labeler.yml:

Containers:
  - changed-files:
      - any-glob-to-any-file: containers/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/*
Hosts:
  - changed-files:
      - any-glob-to-any-file: nixos/*
Packages:
  - changed-files:
      - any-glob-to-any-file: modules/*
Systems:
  - changed-files:
      - any-glob-to-any-file: nixos/*
repo:
  - changed-files:
      - any-glob-to-any-file: "*"
GitHub-Action:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/*
