Repository Rishabh5321/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Containers, Modules, Hosts, Packages, Systems, repo, GitHub-Action, GitHub

.github/labeler.yml:

Containers:
  - changed-files:
      - any-glob-to-any-file: containers/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/*
Hosts:
  - changed-files:
      - any-glob-to-any-file: nixos/*
Packages:
  - changed-files:
      - any-glob-to-any-file: modules/*
Systems:
  - changed-files:
      - any-glob-to-any-file: nixos/*
repo:
  - changed-files:
      - any-glob-to-any-file: "*"
GitHub-Action:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/*

chore: auto lint and format (#1568)
  modules/nixos/cache.nix
  modules/nixos/default.nix
Labels: none

feat: add NixOS logo and pallet images to README
  .github/assets/logo/nixos-logo.png
  .github/pallet/pallet-0.png
  .github/pallet/pallet-1.png
  README.md
Labels: repo

fix: update links and badges in README for repository consistency
  README.md
Labels: repo

fix: remove unused pallet images from repository
  .github/pallet/pallet-0.png
  .github/pallet/pallet-1.png
  README.md
Labels: repo

style: restructure README header for improved readability and organization
  README.md
Labels: repo

fix: remove outdated badges from README for clarity
  README.md
Labels: repo

feat: add security module to NixOS configuration
  modules/nixos/default.nix
  modules/nixos/security.nix
Labels: none

refactor: clean up NixOS configuration files for better organization and clarity
  modules/nixos/default.nix
  modules/nixos/nix_settings.nix
  modules/nixos/virtualisation.nix
Labels: none

feat: enhance NixOS build workflows for Dell and redmi with improved logging and notification features
  .github/workflows/nix-build_dell.yml
  .github/workflows/nix-build_redmi.yml
Labels: GitHub-Action

fix: update Telegram notification secrets variable for consistency
  .github/workflows/nix-build_dell.yml
Labels: GitHub-Action

fix: update Telegram notification variable for consistency
  .github/workflows/nix-build_redmi.yml
Labels: GitHub-Action

Create error to test workflow
  flake.nix
Labels: repo

fix: add missing semicolon in flake.nix outputs definition
  .github/workflows/flake_build.yml
  flake.nix
Labels: repo, GitHub-Action

chore: remove dead code
  modules/nixos/virtualisation.nix
Labels: none

chore: auto lint and format
  modules/nixos/nix_settings.nix
  modules/nixos/security.nix
  modules/nixos/virtualisation.nix
Labels: none

chore: auto lint and format
  modules/nixos/nix_settings.nix
  modules/nixos/security.nix
  modules/nixos/virtualisation.nix
Labels: none

fix: update flake.lock and enable xdg-desktop-portal-hyprland in wayland.nix
  flake.lock
  modules/Desktop/Hyprland/main/wayland.nix
Labels: repo

chore: auto lint and format (#1574)
  modules/nixos/nix_settings.nix
  modules/nixos/security.nix
  modules/nixos/virtualisation.nix
Labels: none

chore: auto lint and format
  modules/nixos/nix_settings.nix
  modules/nixos/security.nix
  modules/nixos/virtualisation.nix
Labels: none

chore: comment out determinate inputs in flake.nix
  flake.lock
  flake.nix
Labels: repo

chore(pkgs.nix): clean up commented code and adjust package list
  modules/nixos/pkgs.nix
Labels: none

chore: auto lint and format
  modules/nixos/pkgs.nix
Labels: none

chore: auto lint and format (#1581)
  modules/nixos/pkgs.nix
Labels: none

chore(flake/wallpaper): update wallpaper to wall3.png
  flake.nix
Labels: repo

chore(flake/wallpaper): add new wallpaper wall4.jpg
  wallpapers/wall4.jpg
Labels: none

chore(flake/wallpaper): update wallpaper to wall4.jpg
  flake.nix
Labels: repo

Update NixOS configuration to switch from Hyprland to Gnome desktop environment
  nixos/dell/configuration.nix
  nixos/dell/home.nix
Labels: none

Enable GDM display manager and configure autoSuspend in NixOS power settings
  nixos/dell/power.nix
Labels: none

Switch NixOS configuration from Gnome to Hyprland desktop environment
  nixos/dell/configuration.nix
  nixos/dell/home.nix
  nixos/dell/power.nix
Labels: none

Refactor flake.nix to improve structure and organization of inputs, transitioning to a more consistent format for defining dependencies and enhancing clarity in NixOS configuration management.
  flake.nix
Labels: repo

chore: auto lint and format
  flake.nix
Labels: repo

chore: auto lint and format (#1617)
  flake.nix
Labels: repo

Add upower module to enable power management services
  modules/system/default.nix
  modules/system/upower.nix
Labels: none

Fix syntax in upower.nix to use proper argument pattern
  modules/system/upower.nix
Labels: none

chore: auto lint and format
  modules/system/upower.nix
Labels: none

chore: auto lint and format (#1618)
  modules/system/upower.nix
Labels: none

refactor(stylix): clean up GTK configuration by removing unused settings
  modules/user/stylix.nix
Labels: none

chore: remove dead code
  modules/user/stylix.nix
Labels: none

fix(dependabot): correct reviewer username casing
  .github/dependabot.yml
Labels: GitHub

feat(stylix): add adw-gtk3 theme configuration
  modules/user/stylix.nix
Labels: none
