Repository Rishabh5321/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Containers, Modules, Hosts, Packages, Systems, repo, GitHub-Action, GitHub

.github/labeler.yml:

Containers:
  - changed-files:
      - any-glob-to-any-file: containers/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/*
Hosts:
  - changed-files:
      - any-glob-to-any-file: nixos/*
Packages:
  - changed-files:
      - any-glob-to-any-file: modules/*
Systems:
  - changed-files:
      - any-glob-to-any-file: nixos/*
repo:
  - changed-files:
      - any-glob-to-any-file: "*"
GitHub-Action:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/*

Remove zed-editor-flake from inputs
  flake.nix
Labels: repo

Moving to preview branch for zededitor
  modules/system/pkgs.nix
Labels: none

Update flake dependencies and switch to personal zed-editor fork
  flake.lock
  flake.nix
Labels: repo

Just updated manually as the zed-editor-flake was updated
  flake.lock
Labels: repo

Add garnix modules.
  flake.lock
  flake.nix
Labels: repo

Remove nvf from dependencies
  flake.lock
  flake.nix
  modules/system/pkgs.nix
  modules/user/default.nix
Labels: repo

Update hardware UUIDs and switch to TLP for power management
  hosts/nixbook/hardware-configuration.nix
  hosts/nixbook/home.nix
  hosts/nixbook/power.nix
Labels: none

Moving Back to Hyprland-unstable
  modules/desktop/Gnome/main/gnome.nix
  modules/desktop/Hyprland/main/hyprland.nix
  modules/desktop/KDE/home/kde.nix
  modules/desktop/KDE/main/kde.nix
  modules/system/program.nix
Labels: none

Creating a host for testing KDE and using KDE
  flake.lock
  flake.nix
  hosts/kdebook/configuration.nix
  hosts/kdebook/hardware-configuration.nix
  hosts/kdebook/home.nix
  hosts/kdebook/power.nix
  hosts/kdebook/testing-pkgs.nix
  modules/desktop/Hyprland/home/default.nix
  modules/desktop/Hyprland/home/hyprland.nix
  modules/desktop/Hyprland/main/default.nix
  modules/desktop/Hyprland/main/wayland.nix
Labels: repo

Some changes made for Passing deadnix
  modules/desktop/Hyprland/home/default.nix
  modules/desktop/Hyprland/home/hyprland.nix
  modules/desktop/Hyprland/main/wayland.nix
  modules/desktop/KDE/main/kde.nix
  modules/system/program.nix
Labels: none

Change wallpaper and update Spicetify configuration
  flake.nix
  modules/user/spicetify.nix
  modules/user/stylix.nix
  wallpapers/wall11.png
Labels: repo

Change wallpaper from wall11.png to wall5.png
  flake.nix
Labels: repo

chore(flake/update-action): add commit-author configuration for automated updates
  .github/workflows/flake_update.yml
Labels: GitHub-Action

Update GitHub workflow with proper permissions and deps
  .github/workflows/flake_update.yml
Labels: GitHub-Action

Use pull_request_target instead of pull_request
  .github/workflows/build.yml
Labels: GitHub-Action

Improve flake update workflow with GitHub App auth
  .github/workflows/flake_update.yml
Labels: GitHub-Action

Update token action parameter name for app private key
  .github/workflows/flake_update.yml
Labels: GitHub-Action

Refactor Git configuration in flake update workflow
  .github/workflows/flake_update.yml
Labels: GitHub-Action

Configure GitHub App token for flake-update-action
  .github/workflows/flake_update.yml
Labels: GitHub-Action

Update Git user configuration and simplify workflow comments
  .github/workflows/flake_update.yml
Labels: GitHub-Action

Potential fix for code scanning alert no. 9: Code injection
  .github/workflows/build.yml
Labels: GitHub-Action

Potential fix for code scanning alert no. 10: Code injection
  .github/workflows/build.yml
Labels: GitHub-Action

Potential fix for code scanning alert no. 11: Code injection
  .github/workflows/build.yml
Labels: GitHub-Action

Refactor flake update workflow for better GitHub Actions integration
  .github/workflows/flake_update.yml
Labels: GitHub-Action

Specify full version for cachix/install-nix-action
  .github/workflows/flake_update.yml
Labels: GitHub-Action

Fix cachix/install-nix-action tag to use v-prefixed version
  .github/workflows/flake_update.yml
Labels: GitHub-Action

Replace GitHub App token generation action
  .github/workflows/flake_update.yml
Labels: GitHub-Action

Switch from pull_request_target to pull_request
  .github/workflows/build.yml
Labels: GitHub-Action

fix(pkgs.nix): update zed-editor package reference to use stable version
  modules/system/pkgs.nix
Labels: none

fix(pkgs.nix): comment out better-control package reference for testing
  modules/system/pkgs.nix
Labels: none

Enable power-profiles-daemon and disable TLP settings
  hosts/redmi/power.nix
Labels: none

Disable tlp service
  hosts/redmi/power.nix
Labels: none

Comment out akuse-flake and its package reference
  flake.nix
  modules/system/pkgs.nix
Labels: repo

Remove akuse-flake from dependencies
  flake.lock
Labels: repo

Add GitHub Actions workflow for Flake config builds
  .github/workflows/build-vm.yml
Labels: GitHub-Action

Disable concurrency in build workflows
  .github/workflows/build-vm.yml
  .github/workflows/build.yml
Labels: GitHub-Action

Remove build-vm.yml and enable concurrency in build.yml
  .github/workflows/build-vm.yml
  .github/workflows/build.yml
Labels: GitHub-Action

Fix build pipeline to improve error handling
  .github/workflows/build.yml
Labels: GitHub-Action

Comment out v4l2loopback kernel module
  modules/system/boot.nix
Labels: none

Fix for deadnix workflow error about config.
  modules/system/boot.nix
Labels: none
