Repository Rishabh5321/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Containers, Modules, Hosts, Packages, Systems, repo, GitHub-Action, GitHub

fix(hyprpanel): update network truncation size setting to improve display
  modules/desktop/Hyprland/home/hyprpanel.nix
Labels: none

feat(sddm-sugar-candy-nix): add sddm-sugar-candy-nix integration with configuration and dependencies
  flake.lock
  flake.nix
  modules/desktop/Hyprland/main/hyprland.nix
Labels: repo

chore(workflows/flake_update): update Telegram API parameters for notification
  .github/workflows/flake_update.yml
Labels: GitHub-Action

chore(workflows/flake_update): enhance flake update workflow with improved output handling and Telegram notification logic
  .github/workflows/flake_update.yml
Labels: GitHub-Action

fix(hyprland): remove unused username parameter from configuration
  modules/desktop/Hyprland/main/hyprland.nix
Labels: none

chore: auto lint and format
  flake.nix
  modules/desktop/Hyprland/main/hyprland.nix
Labels: repo

chore: auto lint and format (#1835)
  flake.nix
  modules/desktop/Hyprland/main/hyprland.nix
Labels: repo

fix(hyprland): update color configuration to use RGB values and remove unused sddm-astronaut dependency
  modules/desktop/Hyprland/main/hyprland.nix
Labels: none

fix(flake): update wallpaper from wall8.png to wall9.png
  flake.nix
  wallpapers/wall9.png
Labels: repo

chore(flake/update-telegram): add PR number logging and improve condition for message sending
  .github/workflows/flake_update.yml
Labels: GitHub-Action

chore(flake/update-telegram): refactor PR number retrieval and update message sending logic
  .github/workflows/flake_update.yml
Labels: GitHub-Action

chore(flake/update-telegram): enhance permissions and improve flake input handling in workflow
  .github/workflows/flake_update.yml
Labels: GitHub-Action

chore(flake/update-telegram): streamline permissions and simplify flake input extraction in workflow
  .github/workflows/flake_update.yml
Labels: GitHub-Action

Improve build workflow name and fix whitespace
  .github/workflows/build.yml
Labels: GitHub-Action

Update README.md to enhance image display and improve layout; update screenshots for better visual representation.
  README.md
  screenshot/screenshot1.png
  screenshot/screenshot2.png
  screenshot/screenshot3.png
  screenshot/screenshot4.png
  screenshot/screenshot5.png
Labels: repo

Update fastfetch logo configuration with SVG image
  modules/user/fastfetch.nix
Labels: none

Switch default browser to thorium and terminal to alacritty
  modules/desktop/Hyprland/home/variables.nix
  modules/user/fastfetch.nix
Labels: none

chore: auto lint and format
  modules/user/fastfetch.nix
Labels: none

chore: auto lint and format (#1880)
  modules/user/fastfetch.nix
Labels: none

chore: auto lint and format
  modules/user/fastfetch.nix
Labels: none

chore: auto lint and format (#1881)
  modules/user/fastfetch.nix
Labels: none

chore: auto lint and format
  modules/user/fastfetch.nix
Labels: none

chore: auto lint and format (#1883)
  modules/user/fastfetch.nix
Labels: none

chore: auto lint and format
  modules/user/fastfetch.nix
Labels: none

chore: auto lint and format (#1884)
  modules/user/fastfetch.nix
Labels: none

chore: auto lint and format
  modules/user/fastfetch.nix
Labels: none

Remove commented-out logo configuration from fastfetch settings
  modules/user/fastfetch.nix
Labels: none

chore: auto lint and format
  modules/user/fastfetch.nix
Labels: none

Remove screenshots section from README
  README.md
Labels: repo

Enable UWSM support in Hyprland configuration
  modules/desktop/Hyprland/main/wayland.nix
Labels: none

``` Refactor Hyprland configuration for improved readability
  modules/desktop/Hyprland/home/hyprland.nix
Labels: none

``` Simplify and reorganize Hyprland animation settings
  modules/desktop/Hyprland/home/hyprland.nix
Labels: none

Reduce gaps, border size, and disable window rounding
  modules/desktop/Hyprland/home/hyprland.nix
Labels: none

chore(flake/home-manager): 1e8c62c6 -> c0962eee (#1943)
  flake.lock
Labels: repo

Add nil and nixd to system packages
  modules/system/pkgs.nix
Labels: none

Set Spicetify theme and disable Stylix for Spicetify
  modules/user/spicetify.nix
  modules/user/stylix.nix
Labels: none

chore(flake/home-manager, stylix): update revisions and hashes
  flake.lock
Labels: repo

Update flake.lock to latest dependencies
  flake.lock
Labels: repo

chore(nix): comment out usbguard and better-control packages in default.nix and pkgs.nix
  modules/system/default.nix
  modules/system/pkgs.nix
Labels: none

chore(hyprland): enable nix settings for substituters and trusted public keys
  modules/desktop/Hyprland/main/hyprland.nix
Labels: none

.github/labeler.yml:

Containers:
  - changed-files:
      - any-glob-to-any-file: containers/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/*
Hosts:
  - changed-files:
      - any-glob-to-any-file: nixos/*
Packages:
  - changed-files:
      - any-glob-to-any-file: modules/*
Systems:
  - changed-files:
      - any-glob-to-any-file: nixos/*
repo:
  - changed-files:
      - any-glob-to-any-file: "*"
GitHub-Action:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/*
