Repository Rishabh5321/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Containers, Modules, Hosts, Packages, Systems, repo, GitHub-Action, GitHub

chore: auto lint and format
  modules/user/stylix.nix
Labels: none

chore: auto lint and format (#1637)
  modules/user/stylix.nix
Labels: none

feat: update wallpaper from wall4.jpg to wall5.png
  flake.nix
  wallpapers/wall5.png
Labels: repo

chore(configuration.nix): comment out containers import
  hosts/dell/configuration.nix
Labels: none

chore(pkgs.nix): add apkeep to system packages
  modules/system/pkgs.nix
Labels: none

chore: add Qt configuration for Stylix in Gnome and Hyprland, remove from user config
  modules/desktop/Gnome/home/default.nix
  modules/desktop/Hyprland/home/default.nix
  modules/desktop/KDE/home/kde.nix
  modules/user/stylix.nix
Labels: none

chore: auto lint and format
  modules/desktop/KDE/home/kde.nix
Labels: none

chore: auto lint and format (#1655)
  modules/desktop/KDE/home/kde.nix
Labels: none

Implement code changes to enhance functionality and improve performance
  flake.nix
  wallpapers/wall6.jpg
Labels: repo

refactor(configuration.nix): comment out avahi service configuration
  hosts/dell/configuration.nix
  modules/system/default.nix
Labels: none

chore: auto lint and format
  hosts/dell/configuration.nix
Labels: none

feat(configuration.nix): add additional local host entries for various services
  hosts/dell/configuration.nix
Labels: none

refactor(dns.nix, hardware-configuration.nix): comment out DHCP and resolvconf configurations
  hosts/redmi/hardware-configuration.nix
  modules/system/dns.nix
Labels: none

refactor(tailscale.nix): simplify configuration by removing unused options
  hosts/dell/tailscale.nix
Labels: none

chore: remove dead code
  hosts/dell/tailscale.nix
Labels: none

refactor(configuration.nix, hardware-configuration.nix): comment out unused networking configurations
  hosts/dell/configuration.nix
  hosts/dell/hardware-configuration.nix
Labels: none

chore: auto lint and format
  hosts/dell/tailscale.nix
Labels: none

chore: auto lint and format (#1678)
  hosts/dell/tailscale.nix
Labels: none

fix(hardware-configuration.nix): enable DHCP for networking
  hosts/dell/hardware-configuration.nix
  hosts/redmi/hardware-configuration.nix
Labels: none

fix(default.nix): comment out dns module import
  modules/system/default.nix
Labels: none

feat(pkgs.nix): add nload to system packages
  modules/system/pkgs.nix
Labels: none

feat(pkgs.nix): add popcorntime to system packages
  modules/system/pkgs.nix
Labels: none

feat(pkgs.nix): comment out popcorntime from system packages
  modules/system/pkgs.nix
Labels: none

feat(pkgs.nix): add openssl to system packages
  modules/system/pkgs.nix
Labels: none

feat(README.md): enhance documentation with configuration showcase and last commit badge
  README.md
Labels: repo

feat(README.md): add configuration showcase section and first screenshot
  README.md
Labels: repo

refactor(README.md): remove unused CSS styles for responsive design
  README.md
Labels: repo

feat(pkgs): add tailscale to system packages
  modules/system/pkgs.nix
Labels: none

chore: add GitHub Actions workflow for building NixOS configurations
  .github/workflows/build.yml
Labels: GitHub-Action

chore: update GitHub Actions workflow to build all NixOS hosts and improve matrix generation
  .github/workflows/build.yml
Labels: GitHub-Action

chore: remove obsolete GitHub Actions workflows for Dell and Redmi NixOS configurations
  .github/workflows/nix-build_dell.yml
  .github/workflows/nix-build_redmi.yml
Labels: GitHub-Action

chore: rename GitHub Actions workflow and job identifiers for clarity
  .github/workflows/build.yml
Labels: GitHub-Action

chore: update GitHub Actions workflow to include pull request triggers and refine job identifiers
  .github/workflows/build.yml
Labels: GitHub-Action

chore: enhance GitHub Actions workflow to check for warnings during flake check and build processes, and consolidate logs for Telegram notifications
  .github/workflows/build.yml
Labels: GitHub-Action

chore: add branch information to GitHub Actions workflow notifications
  .github/workflows/build.yml
Labels: GitHub-Action

chore: remove warning checks from GitHub Actions build workflow
  .github/workflows/build.yml
Labels: GitHub-Action

chore: enable dns module in system configuration
  modules/system/default.nix
Labels: none

chore: update DNS configuration to disable resolvconf and enhance DNS settings
  modules/system/dns.nix
Labels: none

chore: auto lint and format
  modules/system/dns.nix
Labels: none

chore: auto lint and format (#1729)
  modules/system/dns.nix
Labels: none

.github/labeler.yml:

Containers:
  - changed-files:
      - any-glob-to-any-file: containers/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/*
Hosts:
  - changed-files:
      - any-glob-to-any-file: nixos/*
Packages:
  - changed-files:
      - any-glob-to-any-file: modules/*
Systems:
  - changed-files:
      - any-glob-to-any-file: nixos/*
repo:
  - changed-files:
      - any-glob-to-any-file: "*"
GitHub-Action:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/*
