Repository Rishabh5321/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: Containers, Modules, Hosts, Packages, Systems, repo, GitHub-Action, GitHub

chore: auto lint and format (#1507)
  modules/nixos/usbguard.nix
Labels: none

refactor(users.nix): simplify user configuration and remove unused sections
  modules/nixos/users.nix
Labels: none

feat(usbguard): enhance USBGuard configuration for user access and permissions
  modules/nixos/usbguard.nix
Labels: none

chore: auto lint and format
  modules/nixos/usbguard.nix
  modules/nixos/users.nix
Labels: none

chore: auto lint and format (#1512)
  modules/nixos/usbguard.nix
  modules/nixos/users.nix
Labels: none

refactor(flake_build): improve Telegram notification script for clarity and efficiency
  .github/workflows/flake_build.yml
Labels: GitHub-Action

Checking workflow errors
  flake.nix
Labels: repo

refactor(flake_build): enhance Telegram notification script for better readability and reliability
  .github/workflows/flake_build.yml
Labels: GitHub-Action

fix(flake.nix): correct formatting in configuration section
  flake.nix
Labels: repo

chore: auto lint and format
  flake.nix
Labels: repo

testing workflow
  flake.nix
Labels: repo

fix(flake_build): add exit code for build failure notifications
  .github/workflows/flake_build.yml
Labels: GitHub-Action

chore: auto lint and format
  flake.nix
Labels: repo

correcting workflow
  flake.nix
Labels: repo

chore(flake): add determinate flake to inputs and outputs
  flake.nix
Labels: repo

chore(flake): update flake inputs and outputs for consistency
  flake.lock
Labels: repo

chore(flake): refactor CI workflow to enhance flake checks and notifications
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(ci): update cache name in build-pkgs workflow
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(ci): remove unnecessary comment in build-pkgs workflow
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(ci): update cache name in flake_build workflow
  .github/workflows/flake_build.yml
Labels: GitHub-Action

chore(ci): remove build-pkgs workflow file
  .github/workflows/build-pkgs.yml
Labels: GitHub-Action

chore(nixos): update cache substituters and trusted keys to use rishabh5321.cachix.org
  modules/nixos/cache.nix
Labels: none

chore(ci): enhance flake_build workflow with improved error handling and logging
  .github/workflows/flake_build.yml
Labels: GitHub-Action

chore(ci): refine flake_build workflow with enhanced logging, error handling, and configuration checks
  .github/workflows/flake_build.yml
Labels: GitHub-Action

chore(ci): update cache name in flake_build workflow to rishabh5321
  .github/workflows/flake_build.yml
Labels: GitHub-Action

chore(flake/zen-browser): update dependencies and improve performance optimizations
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): rename workflow to better reflect its purpose and enhance comments for clarity
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): simplify Nix build workflow by removing unnecessary steps and updating Cachix actions
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): update Cachix name in Nix build workflow to rishabh5321
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): update Nix build workflow to build specific NixOS configurations and improve naming for clarity
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): add step to maximize build disk space and comment out unused NixOS configuration build
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): reintroduce step to maximize build disk space in Nix build workflow
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): remove redundant line in Nix build workflow for cleaner configuration
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): update disk space configuration in Nix build workflow to optimize resource usage
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): add steps to mount Nix volume for improved build environment in Nix build workflow
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): enhance Nix build workflow by adding directory creation and disk usage confirmation steps
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): increase root reserve memory to optimize Nix build workflow
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): streamline Nix build workflow by removing duplicate steps and ensuring proper configuration
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): update Nix installation step and optimize configuration for improved build performance
  .github/workflows/nix-build.yml
Labels: GitHub-Action

chore(ci): rename Nix installation step for clarity and remove unnecessary volume mounting steps
  .github/workflows/nix-build.yml
Labels: GitHub-Action

.github/labeler.yml:

Containers:
  - changed-files:
      - any-glob-to-any-file: containers/*
Modules:
  - changed-files:
      - any-glob-to-any-file: modules/*
Hosts:
  - changed-files:
      - any-glob-to-any-file: nixos/*
Packages:
  - changed-files:
      - any-glob-to-any-file: modules/*
Systems:
  - changed-files:
      - any-glob-to-any-file: nixos/*
repo:
  - changed-files:
      - any-glob-to-any-file: "*"
GitHub-Action:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/*
GitHub:
  - changed-files:
      - any-glob-to-any-file: .github/*
